* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F6F8F9;
}

/* ***** header ***** */

header {
    background-color: white;
    height: 70px;
    line-height: 70px;
}

#logo {
    vertical-align: middle;
    margin-left: 20px;
}

header h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 700;
}