* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: #F6F8F9; */
    background-color: grey;
}

/* ***** header ***** */

header {
    background-color: white;
    height: 70px;
    line-height: 70px;
}

#logo {
    vertical-align: middle;
    margin-left: 20px;
}

header h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 700;
}

/* ***** container ***** */

.container {
    background-color: white;
    width: 60%;
    margin: 40px auto;
    border-radius: 5px;
}

/* ***** main content margin left + padding bottom ***** */

.form-add, .task-group {
    margin-left: 50px;
}

main {
    padding-bottom: 20px;
}

/* ***** form add *****  */

.add-button {
    padding: 6px 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}

#btn-add-task {
    color: white;
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

#btn-add-selection {
    color: #b1b7bd;
    background-color: white;
    border: 1px solid #b1b7bd;
}


main hr {
    height: 2px;
    background-color: grey;
    border: none;
}

/* ***** task section ***** */

.task-group {
    margin-top: 20px;
}

.triangle {
    font-size: 15px;
}

.task {
    margin: 10px 0 25px;
    font-weight: 500;
}

/* ***** task chech cross *****  */

.check {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 0 3px;
}

.cross {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 0 3px;
}

.check, .cross {
    margin-right: 5px;
}

/* ***** task type badge ***** */

.task-type {
    color: white;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px 10px;
}

.editorial {
    border: 1px solid #45ABEA;
    background-color: #45ABEA;
}

.goals {
    border: 1px solid #9C72E4;
    background-color: #9C72E4;
}

.recruiting {
    border: 1px solid #64C0A9;
    background-color: #64C0A9;
}

.mobile {
    border: 1px solid #F29E33;
    background-color: #F29E33;
}

.website {
    border: 1px solid #D863A1;
    background-color: #D863A1;
}

.sales {
    border: 1px solid #B0C926;
    background-color: #B0C926;
}