* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: #F6F8F9; */
    background-color: grey;
}

/* ***** header ***** */

header {
    background-color: white;
    height: 70px;
    line-height: 70px;
}

#logo {
    vertical-align: middle;
    margin-left: 20px;
}

header h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 700;
}

/* ***** container ***** */

.container {
    background-color: white;
    width: 60%;
    margin: 40px auto;
    border-radius: 5px;
}

/* ***** main content margin left ***** */

.form-add, .task-group {
    margin-left: 30px;
}

/* ***** form add *****  */


.add-button {
    padding: 6px 10px;
    margin: 10px 0;
    border-radius: 10%;
    font-weight: bold;
}

#btn-add-task {
    color: white;
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

#btn-add-selection {
    color: #b1b7bd;
    background-color: white;
    border: 1px solid #b1b7bd;
}


main hr {
    height: 2px;
    background-color: grey;
    border: none;
}

/* ***** task section ***** */

.task-group {
    margin-top: 20px;
}

.task {
    margin-top: 5px;
    font-weight: 500;
}

.check {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 0 3px;
}

.task-type {
    color: white;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px 10px;
}

.editorial {
    border: 1px solid #45ABEA;
    background-color: #45ABEA;
}